@font-face {
    font-family: 'Ogg Italic';
    src: url('./assets//fonts/Ogg\ Italic.otf') format('.otf'), 
}

@font-face {
    font-family: 'OggRoman';
    src: url('./assets//fonts/Ogg\ Roman.otf') format('.otf')
}